::selection {
    background-color: #a3bfc6;
    color: white;
}
body {
	color: #222b31;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
footer {
	background: #222b31;
	display: block;
	float: left;
	padding: 60px 0 100px 0;
	width: 100%;
}
footer .centro_footer {
	margin: 0 auto;
	text-align: center;
	width: 90%;
}
footer .centro_footer .contacto_emagenic {
	color: white;
	margin: 30px 0;
}
footer .centro_footer .contacto_emagenic p {
	font-weight: 300;
	line-height: 23px;
	margin: 0;
	color: #7a848b;
}
footer .centro_footer .menu_footer {
	margin: 0;
	padding: 0;
}
footer .centro_footer .menu_footer .lipie {
	border-bottom: solid 1px #2b353b;
	font-size: 18px;
	font-weight: 300;
	list-style: none;
	padding: 10px 0;
	text-align: center;
}
footer .centro_footer .menu_footer .lipie a { 
	color: white;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
footer .centro_footer .menu_footer .lipie a:hover { 
	color: #ff284a;
	-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
footer .centro_footer .pie {
	color: #555e64;
	font-weight: 300;
	line-height: 23px;
}
footer .centro_footer .social {
	margin: 30px 0;
}
footer .centro_footer .social a {
	color: #222b31;
}
footer .centro_footer .social .blogger,
footer .centro_footer .social .blogger:hover,
footer .centro_footer .social .facebook, 
footer .centro_footer .social .facebook:hover,
footer .centro_footer .social .google,
footer .centro_footer .social .google:hover,
footer .centro_footer .social .linkein,
footer .centro_footer .social .linkein:hover,
footer .centro_footer .social .skype,
footer .centro_footer .social .skype:hover,
footer .centro_footer .social .twitter,
footer .centro_footer .social .twitter:hover,
footer .centro_footer .social .youtube,
footer .centro_footer .social .youtube:hover {
	display: inline-block;
	height: 25px;
	margin: 0 5px;
	-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
footer .centro_footer .social .blogger {
	background: url(../imagenes/social/blogger.png);
	width: 26px;
}
footer .centro_footer .social .blogger:hover {
	background: url(../imagenes/social/blogger_hover.png);
	width: 26px;
}
footer .centro_footer .social .facebook { 
	background: url(../imagenes/social/facebook.png);
	width: 15px;
}
footer .centro_footer .social .facebook:hover { 
	background: url(../imagenes/social/facebook_hover.png);
	width: 15px;
}
footer .centro_footer .social .google { 
	background: url(../imagenes/social/google.png);
	width: 26px;
}
footer .centro_footer .social .google:hover { 
	background: url(../imagenes/social/google_hover.png);
	width: 26px;
}
footer .centro_footer .social .linkein { 
	background: url(../imagenes/social/linkein.png);
	width: 28px;
}
footer .centro_footer .social .linkein:hover { 
	background: url(../imagenes/social/linkein_hover.png);
	width: 28px;
}
footer .centro_footer .social .skype { 
	background: url(../imagenes/social/skype.png);
	width: 27px;
}
footer .centro_footer .social .skype:hover { 
	background: url(../imagenes/social/skype_hover.png);
	width: 27px;
}
footer .centro_footer .social .twitter { 
	background: url(../imagenes/social/twitter.png);
	width: 32px;
}
footer .centro_footer .social .twitter:hover { 
	background: url(../imagenes/social/twitter_hover.png);
	width: 32px;
}
footer .centro_footer .social .youtube {
	background: url(../imagenes/social/youtube.png);
	width: 22px;
}
footer .centro_footer .social .youtube:hover {
	background: url(../imagenes/social/youtube_hover.png);
	width: 22px;
}
header {
	background: white;
	background: white;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
}
header .carro {
	width: 60px;
	height: 60px;
	background: #ff284a;
	position: absolute;
	right: 0;
	top: 0;
}
header .carro .numero {
	color: white;
	position: absolute;
	right: 14px;
	top: 14px;
	font-size: 14px;
}
header .carro .imgcarro {
	background-image: url(../imagenes/carro.png);
	width: 60px;
	height: 60px;
}
header .logo {
	position: absolute;
	height: 60px;
	left: 10px;
	top: 10px;
}
header .logo img {
	height: 40px;
}
#contacto .formulario {
	background: #222b31;
	height: 700px;
}
#contacto .formulario form {
	margin: 0 auto;
	width: 90%;
}
#contacto .formulario form .enviar:focus,
#contacto .formulario form .input:focus,
#contacto .formulario form .mensaje:focus {
    border-color: transparent;
    outline: transparent;
}
#contacto .formulario form .enviar {
	background: #ff284a;
	border: none;
	color: white;
	display: block;
	margin: 20px auto 0 auto;
	padding: 15px;
	width: 120px;
	-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
#contacto .formulario form .enviar:hover {
	background: #1f2326;
	border-bottom: solid 5px #ff284a;
	color: #ff284a;
	transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
}
#contacto .formulario form .input {
	display: block;
	margin-bottom: 25px;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
#contacto .formulario form .mensaje {
	display: block;
	height: 100px;
	padding: 25px 0;
	text-align: center;
	width: 100%;
	border: none;
}
#contacto .formulario h3 {
	color: #ff284a;
	font-size: 30px;
	font-weight: 300;
	margin: 0;
	padding: 60px 0 30px 0;
	text-align: center;
}
#contacto .mapa {
	display: block;
	float: left;
	width: 100%;
}
.crear {
	background-attachment: fixed;
	background-image: url(../imagenes/crear/normal.jpg); 
	color: white;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	-webkit-background-size: cover;
  	background-position: center;
  	background-size: cover;
  	width: 100%;
}
.crear .web {
	background-attachment: fixed;
	background-image: url(../imagenes/crear/desenfoque.jpg); 
	background-size: cover;
	border: 1px solid transparent;
	margin: auto; 
	text-align: center;
	width: 90%; 
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	-webkit-background-size: cover;
  	background-position: center;
}
.crear .web h2 {
	font-size: 30px;
	font-weight: 300;
	padding-top: 10%;
}
.crear .web p {
	font-size: 16px;
	font-weight: 300;
	line-height: 23px;
	margin: 10px auto;
	padding-bottom: 20%;
	width: 90%;
}
.pagos {
	background: white;
	display: block;
	float: left;
	padding: 50px 0;
	width: 100%;
	margin-top: -5px;
}
.pagos .contenido_pagos {
	margin: 0 auto;
	text-align: center;
	width: 90%;
}
.pagos .contenido_pagos h3 { 
	font-size: 30px;
	font-weight: 300;
	margin: 0;
}
.pagos .contenido_pagos p { 
	padding: 0;
}
.pagos .contenido_pagos .pago {
	border-top: solid 1px #e6e6e6; 
	display: block;
	padding: 20px 0;
	vertical-align: top;
}
.pagos .contenido_pagos .pago .bancoestado {
	width: 200px;
}
.pagos .contenido_pagos .pago .dineromail {
	display: block;
	margin: auto;
	width: 200px;
}
.pagos .contenido_pagos .pago p {
	color: #707980;
	font-weight: 300;
}
.pagos .contenido_pagos .pago .webpay {
	width: 200px;
}
.servicios {
	background: #ff284a;
	overflow: hidden;
}
.servicios .servicio {
	background: #222b31;
	border-bottom: 1px solid #2b353b;
	color: white;
	display: block;
	float: left;
	padding: 3% 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
	-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
.servicios .servicio:hover {
	background: #1f2326;
	-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
.servicios .servicio h2 {
	color: #ff284a;
	font-size: 20px;
	font-weight: 300;
}
.servicios .servicio p {
	font-size: 16px;
	font-weight: 300;
	line-height: 23px;
	margin: 10px auto;
	width: 90%;
}
.servicios .servicio .vermas,
.servicios .servicio .vermas img {
	height: 30px;
	margin: 0 auto 2% auto;
	width: 33px;
}
.slide {
	background-image: url(../imagenes/slide.jpg); 
	background-repeat: no-repeat;
	background-position: center;
	height: 700px;
	width: 100%;
	background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	-webkit-background-size: cover;
}
.slide .texto_slide {
	text-align: center;
	color: white;
	padding-top: 25%;
	width: 90%;
	margin: 0 auto;
}
.slide .texto_slide .baja {
	-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    margin: 50px auto 0 auto;
    display: block;
    width: 80px;
}
.slide .texto_slide .baja:hover {
	-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    margin: 60px auto 0 auto;
}
.slide .texto_slide .comencemos {
	background: #ff284a;
	border: none;
	color: white;
	display: block;
	margin: 20px auto 0 auto;
	padding: 15px;
	width: 120px;
	text-decoration: none;
	-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
.slide .texto_slide .comencemos:hover {
	background: #1f2326;
	border-bottom: solid 5px #ff284a;
	color: #ff284a;
	transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
}
.slide .texto_slide h1 {
	font-size: 30px;
}
.slide .texto_slide h2 {
	font-size: 18px;
	margin: 0;
	font-weight: 400;
}
.slide .texto_slide h3 {
	font-size: 16px;
	margin: 20px 0 0 0;
	font-weight: 300;
}
.slide .texto_slide p {
	font-weight: 300;
	font-size: 20px;
	margin-top: 50px;
}
.zclientes {
	position: fixed;
	bottom: 0;
	right: 0;
	background: #ff284a;
	color: white;
	text-decoration: none;
	padding: 10px 20px ;
}

/* COMIENZO MENU */

ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
	right: 60px;
}
li {
	display:inline-block;
	float: left;
}
li a {
	background: white;
	color: #222b31;
	display:block;
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
}
li:hover a {
	background: white;
	border-bottom: solid 5px #ff284a;
	color: #ff284a;
	height: 55px;
}
li ul {
	display: none;
}
li ul li {
	display: block;
	float: none;
}
li ul li a {
	min-width: 100px;
	padding: 0 20px;
	width: auto;
}
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}
.show-menu {
	color: red;
	display: none;
	height: 60px;
	line-height: 80px;
	padding-right: 80px;
	text-align: right;
	text-decoration: none;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ #menu {
    display: block;
}

@media screen and (max-width : 760px) {

	li a {
		padding: 0;
	}
	ul {
		position: static;
		display: none;
	}
	ul li, li a {
		width: 100%;
	}
	.show-menu {
		display:block;
	}

}

/* TERMINO MENU */







