@media only screen and (min-width: 1000px) { 
	
	footer .centro_footer .menu_footer li {
		border-bottom: none;
		display: inline-block;
		margin: 0 20px;
	}
	footer .centro_footer .social a{
		margin: 30px 10px;
	} 
	#contacto .formulario {
		display: block;
		float: left;
		width: 40%;
	}
	#contacto .formulario form {
		width: 80%;
	}
	#contacto .mapa {
		display: block;
		float: left;
		width: 60%;
	}
	.crear .web {	
		margin: 0;
		width: 80%; 
	}
	.crear .web h2 {
		padding-top: 5%;
	}
	.crear .web p {	
		padding-bottom: 5%;
		width: 70%;
	}
	.pagos .contenido_pagos {
		width: 80%;
	}
	.pagos .contenido_pagos .pago {
		border-top: none;
		display: inline-block;
		margin: 0 3%; 
		width: 25%;
	}
	.pagos .contenido_pagos .pago .bancoestado,
	.pagos .contenido_pagos .pago .dineromail,
	.pagos .contenido_pagos .pago .webpay {
		width: 100%;
	}
	.servicios .servicio {
		border-bottom: none;
		height: 350px;
		padding: 0;
		width: 20%;	
	}
	.servicios .servicio:hover {
		background: #1f2326;
		margin-top: -10px;
	}
	.servicios .servicio h2 {
		padding-top: 20%;
	}
	.servicios .servicio p { 
		width: 80%;
	}
}
@media only screen and (min-width: 1280px) { 

	#contacto .formulario form {
		width: 70%;
	}
	.crear .web { 
		width: 60%;
	}
	.pagos .contenido_pagos .pago .bancoestado,
	.pagos .contenido_pagos .pago .dineromail,
	.pagos .contenido_pagos .pago .webpay {
		width: 250px;
	}
	.servicios .servicio h2 {
		font-size: 25px;
	}
} 