@media only screen and (min-width: 768px) { 

	.portafolio {
		line-height: 400px;
	}
	.portafolio .bloque1,
	.portafolio .bloque2,
	.portafolio .bloque3,
	.portafolio .bloque4,
	.portafolio .bloque5,
	.portafolio .bloque6,
	.portafolio .bloque7,
	.portafolio .bloque8 {
		float: left;
		height: 300px;
		width: 50%;
	}
} 
@media only screen and (min-width: 1000px) { 
	
	footer {
		position: fixed;
		bottom: 0;
		z-index: -1;
	}
	footer .centro_footer .menu_footer .lipie {
		border-bottom: none;
		display: inline-block;
		margin: 0 20px;
	}
	footer .centro_footer .social a{
		margin: 30px 10px;
	} 
	#contacto .formulario {
		display: block;
		float: left;
		width: 40%;
	}
	#contacto .formulario form {
		width: 80%;
	}
	#contacto .mapa {
		display: block;
		float: left;
		width: 60%;
	}
	.crear .web {	
		margin: 0;
		width: 80%; 
	}
	.crear .web h2 {
		padding-top: 5%;
	}
	.crear .web p {	
		padding-bottom: 5%;
		width: 70%;
	}
	.detalleplan .valor {
		width: 38%;
		margin: 200px auto 0 auto;
		display: inline-block;
		vertical-align: top;
	}
	.detalleplan .web {	
		margin: 0;
		width: 60%; 
		display: inline-block;
	}
	.detalleplan .web .bloque h3 {
		padding-top: 5%;
	}
	.detalleplan .web .bloque p {	
		padding-bottom: 5%;
		width: 70%;
	}
	.pagos {
		margin-bottom: 420px;
	}
	.pagos .contenido_pagos {
		width: 80%;
	}
	.pagos .contenido_pagos .pago {
		border-top: none;
		display: inline-block;
		margin: 0 3%; 
		width: 25%;
	}
	.pagos .contenido_pagos .pago .bancoestado,
	.pagos .contenido_pagos .pago .dineromail,
	.pagos .contenido_pagos .pago .webpay {
		width: 100%;
	}
	.planes .plan1,
	.planes .plan1responsive,
	.planes .plan2,
	.planes .plan2responsive,
	.planes .plan3,
	.planes .plan3responsive {
		width: 50%;
		float: left;
		height: 400px;
		display: block;
	}
	.planes .plan1 .contenido,
	.planes .plan1responsive .contenido,
	.planes .plan2 .contenido,
	.planes .plan2responsive .contenido,
	.planes .plan3 .contenido,
	.planes .plan3responsive .contenido {
		width: 50%;
		float: right;
		margin-top: 80px;
	}
	.planes .plan1 .nombre,
	.planes .plan1responsive .nombre,
	.planes .plan2 .nombre,
	.planes .plan2responsive .nombre,
	.planes .plan3 .nombre,
	.planes .plan3responsive .nombre {
		width: 50%;
		float: left;
		margin-top: 100px;
	}
	.portafolio {
		line-height: 400px;
	}
	.portafolio .bloque1,
	.portafolio .bloque2,
	.portafolio .bloque3,
	.portafolio .bloque4,
	.portafolio .bloque5,
	.portafolio .bloque6,
	.portafolio .bloque7,
	.portafolio .bloque8 {
		float: left;
		height: 300px;
		width: 25%;
	}
	.servicios .servicio {
		border-bottom: none;
		height: 350px;
		padding: 0;
		width: 20%;	
	}
	.servicios .servicio:hover {
		background: #1f2326;
		margin-top: -10px;
	}
	.servicios .servicio h2 {
		padding-top: 20%;
	}
	.servicios .servicio p { 
		width: 80%;
	}
	.slide .texto_slide,
	.slide_desarrolloweb .texto_slide,
	.slide_plan1 .texto_slide,
	.slide_plan2 .texto_slide,
	.slide_plan3 .texto_slide,
	.slide_frontend .texto_slide,
	.slide_portafolio .texto_slide,
	.slide_newsletter .texto_slide {
		text-align: center;
		color: white;
		padding-top: 200px;
		width: 90%;
		margin: 0 auto;
	}
	.slide .texto_slide .comencemos,
	.slide_desarrolloweb .texto_slide .comencemos {
		background: #ff284a;
		border: none;
		color: white;
		display: block;
		margin: 20px auto 0 auto;
		padding: 15px;
		width: 120px;
		text-decoration: none;
		-webkit-transition: all 0.1s ease-in;
	    -moz-transition: all 0.1s ease-in;
	    -ms-transition: all 0.1s ease-in;
	    -o-transition: all 0.1s ease-in;
	    transition: all 0.1s ease-in;
	}
	.slide .texto_slide .comencemos:hover,
	.slide_desarrolloweb .texto_slide .comencemos:hover {
		background: #1f2326;
		border-bottom: solid 5px #ff284a;
		color: #ff284a;
		transition: all 0.1s ease-in;
	    -moz-transition: all 0.1s ease-in;
	    -ms-transition: all 0.1s ease-in;
	    -o-transition: all 0.1s ease-in;
	    -webkit-transition: all 0.1s ease-in;
	}
	.slide .texto_slide h1,
	.slide_desarrolloweb .texto_slide h1,
	.slide_plan1 .texto_slide h1,
	.slide_plan2 .texto_slide h1,
	.slide_plan3 .texto_slide h1,
	.slide_frontend .texto_slide h1,
	.slide_portafolio .texto_slide h1,
	.slide_newsletter .texto_slide h1 {
		font-size: 48px;
	}
	.slide .texto_slide h2,
	.slide_desarrolloweb .texto_slide h2,
	.slide_plan1 .texto_slide h2,
	.slide_plan2 .texto_slide h2,
	.slide_plan3 .texto_slide h2,
	.slide_frontend .texto_slide h2,
	.slide_portafolio .texto_slide h2,
	.slide_newsletter .texto_slide h2 {
		font-size: 20px;
		margin: 0;
		font-weight: 400;
	}
	.slide .texto_slide h3,
	.slide_desarrolloweb .texto_slide h3,
	.slide_plan1 .texto_slide h3,
	.slide_plan2 .texto_slide h3,
	.slide_plan3 .texto_slide h3,
	.slide_frontend .texto_slide h3,
	.slide_portafolio .texto_slide h3,
	.slide_newsletter .texto_slide h3 {
		font-size: 18px;
		margin: 5px auto 0 auto;
		font-weight: 300;
		width: 85%;
	}
	.slide .texto_slide p,
	.slide_desarrolloweb .texto_slide p,
	.slide_plan1 .texto_slide p,
	.slide_plan2 .texto_slide p,
	.slide_plan3 .texto_slide p,
	.slide_frontend .texto_slide p,
	.slide_portafolio .texto_slide p,
	.slide_newsletter .texto_slide p {
		font-weight: 300;
		font-size: 30px;
		margin-top: 50px;
	}
	.slide_plan1 .texto_slide .vernuestrostrabajos,
	.slide_plan2 .texto_slide .vernuestrostrabajos,
	.slide_plan3 .texto_slide .vernuestrostrabajos,
	.slide_frontend .texto_slide .vernuestrostrabajos,
	.slide_portafolio .texto_slide .vernuestrostrabajos,
	.slide_newsletter .texto_slide .vernuestrostrabajos {
		width: 250px;
	}
	.tuplan .contenido_centro {
		width: 80%;
	}
}

@media only screen and (min-width: 1280px) { 

	#contacto .formulario form {
		width: 70%;
	}
	.crear .web { 
		width: 60%;
	}
	.pagos .contenido_pagos .pago .bancoestado,
	.pagos .contenido_pagos .pago .dineromail,
	.pagos .contenido_pagos .pago .webpay {
		width: 250px;
	}
	.planes .plan1 .nombre h3,
	.planes .plan1responsive .nombre h3,
	.planes .plan2 .nombre h3,
	.planes .plan2responsive .nombre h3,
	.planes .plan3 .nombre h3,
	.planes .plan3responsive .nombre h3 {
		font-size: 30px;
	}
	.planes .plan1 .nombre .valor,
	.planes .plan1responsive .nombre .valor,
	.planes .plan2 .nombre .valor,
	.planes .plan2responsive .nombre .valor,
	.planes .plan3 .nombre .valor,
	.planes .plan3responsive .nombre .valor  {
		font-size: 30px;
	}
	.portafolio {
		line-height: 500px;
	}
	.portafolio .bloque1,
	.portafolio .bloque2,
	.portafolio .bloque3,
	.portafolio .bloque4,
	.portafolio .bloque5,
	.portafolio .bloque6,
	.portafolio .bloque7,
	.portafolio .bloque8 {
		height: 400px;
		width: 25%;
	}
	.servicios .servicio h2 {
		font-size: 25px;
	}
} 
