@media only screen and (min-width: 768px) { 

	.carrodecompra {
		float: left;
	}
	.carrodecompra .centro_carro .compras {
		display: inline-block;
		vertical-align: top;
		float: left;
		width: 50%;
	}
	.carrodecompra .centro_carro .compras .detallecompra,
	.carrodecompra .centro_carro .compras .totalcompra {
		width: 95%;
	}
	.carrodecompra .centro_carro .formulario {
		display: inline-block;
		vertical-align: top;
		float: left;
		width: 49%;
	}
	.portafolio {
		line-height: 400px;
	}
	.portafolio .bloque1,
	.portafolio .bloque2,
	.portafolio .bloque3,
	.portafolio .bloque4,
	.portafolio .bloque5,
	.portafolio .bloque6,
	.portafolio .bloque7,
	.portafolio .bloque8 {
		float: left;
		height: 300px;
		width: 50%;
	}

	.hosting_movil {
		display: none;
	}
	#info_hosting {
        display: block;
        padding: 0 0 70px 0;
        margin: 0 auto;
        width: 90%;
    }
    #info_hosting .cabecera {
        background-color: #FF284E;
        border: solid 1px #FF284E;
        color: white;
        width: 100%;
    }
    #info_hosting .cabecera .grilla_titulos {
        border-right: 1px solid #c31a22;
        display: inline-block;
        line-height: 60px;
        padding-left: 30px;
        width: 40%;
        font-size: 14px;
        vertical-align: top;
    }
    #info_hosting .cabecera .grilla_titulos_hosting {
        border-right: 1px solid #c31a22;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        width: 10%;
        font-size: 12px;
        vertical-align: top; 
    }
    #info_hosting .contenido_hosting {
        background-color: #f5f5f5;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        width: 100%;
    }
    #info_hosting .contenido_hosting .grilla_titulos {
        border-right: 1px solid #ccc;
        display: inline-block;
        line-height: 50px;
        padding-left: 30px;
        width: 40%;
        font-size: 14px;
        vertical-align: top;
    }
    #info_hosting .contenido_hosting .grilla_contenido {
        border-right: 1px solid #ccc;
        display: inline-block;
        line-height: 50px;
        text-align: center;
        width: 10%;
        font-size: 12px;
        vertical-align: top;
    }
    #info_hosting .contenido_hosting2 {
        background-color: #ccc;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        width: 100%;
    }
    #info_hosting .contenido_hosting2 .grilla_titulos2 {
        display: inline-block;
        line-height: 50px;
        padding-left: 30px;
        width: 100%;
        font-size: 14px;
    }
    #info_hosting .contenido_hosting .grilla_contenido_valor {
        display: inline-block;
        line-height: 50px;
        text-align: center;
        width: 10%;
        font-size: 12px;
    }
    #info_hosting .contenido_hosting .grilla_contenido_valor a {
        background: #ff284a;
        color: white;
        padding: 5px 10px;
        font-size: 12px;
    }
    .contenido_principal .bloque {
        display: inline-block;
        width: 17%;
        margin: 0 10px;
        vertical-align: top;
    }
    .contenido_cloud .bloque_cloud {
        display: inline-block; 
        width: 25%;
        vertical-align: top;
        margin-right: 5px;
        margin-left: 5px;
        padding: auto 5px;
    } 
} 

@media only screen and (min-width: 1000px) { 
	
	footer {
		position: fixed;
		bottom: 0;
		z-index: -1;
	}
	footer .centro_footer .menu_footer .lipie {
		border-bottom: none;
		display: inline-block;
		margin: 0 20px;
	}
	footer .centro_footer .social a{
		margin: 30px 10px;
	} 
	#contacto .formulario {
		display: block;
		float: left;
		width: 40%;
	}
	#contacto .formulario form {
		width: 80%;
	}
	#contacto .mapa {
		display: block;
		float: left;
		width: 60%;
	}
	#info_hosting .cabecera .grilla_titulos {
        font-size: 16px;
    }
    #info_hosting .contenido_hosting .grilla_contenido { 
		font-size: 16px;
    }
    #info_hosting .contenido_hosting .grilla_titulos { 
		font-size: 16px;
    }
    #info_hosting .contenido_hosting2 .grilla_titulos2 { 
		font-size: 16px;
    }
    #info_hosting .contenido_hosting .grilla_contenido_valor a {
    	font-size: 16px;
    }
    #info_hosting .cabecera .grilla_titulos_hosting { 
		font-size: 16px;
    }
	.crear .web {	
		margin: 0;
		width: 80%; 
	}
	.crear .web h2 {
		padding-top: 5%;
	}
	.crear .web p {	
		padding-bottom: 5%;
		width: 70%;
	}
	.detalleplan .valor {
		width: 38%;
		margin: 200px auto 0 auto;
		display: inline-block;
		vertical-align: top;
	}
	.detalleplan .web {	
		margin: 0;
		width: 60%; 
		display: inline-block;
	}
	.detalleplan .web .bloque h3 {
		padding-top: 5%;
	}
	.detalleplan .web .bloque p {	
		padding-bottom: 5%;
		width: 70%;
	}
	.pagos {
		margin-bottom: 420px;
	}
	.pagos .contenido_pagos {
		width: 80%;
	}
	.pagos .contenido_pagos .pago {
		border-top: none;
		display: inline-block;
		margin: 0 3%; 
		width: 25%;
	}
	.pagos .contenido_pagos .pago .bancoestado,
	.pagos .contenido_pagos .pago .dineromail,
	.pagos .contenido_pagos .pago .webpay {
		width: 100%;
	}
	.pagos2 .botonpago1 {
		margin-top: 67px;
	}
	.pagos2 .botonpago2 {
		margin-top: 66px;
	}
	.pagos2 .contenido_pagos {
		width: 80%;
	}
	.pagos2 .contenido_pagos .pago {
		border-top: none;
		display: inline-block;
		margin: 0 3%; 
		width: 25%;
	}
	.pagos2 .contenido_pagos .pago .bancoestado,
	.pagos2 .contenido_pagos .pago .dineromail,
	.pagos2 .contenido_pagos .pago .webpay {
		width: 100%;
	}
	.planes .plan1,
	.planes .plan1responsive,
	.planes .plan2,
	.planes .plan2responsive,
	.planes .plan3,
	.planes .plan3responsive {
		width: 50%;
		float: left;
		height: 400px;
		display: block;
	}
	.planes .plan1 .contenido,
	.planes .plan1responsive .contenido,
	.planes .plan2 .contenido,
	.planes .plan2responsive .contenido,
	.planes .plan3 .contenido,
	.planes .plan3responsive .contenido {
		width: 50%;
		float: right;
		margin-top: 80px;
	}
	.planes .plan1 .nombre,
	.planes .plan1responsive .nombre,
	.planes .plan2 .nombre,
	.planes .plan2responsive .nombre,
	.planes .plan3 .nombre,
	.planes .plan3responsive .nombre {
		width: 50%;
		float: left;
		margin-top: 100px;
	}
	.portafolio {
		line-height: 400px;
	}
	.portafolio .bloque1,
	.portafolio .bloque2,
	.portafolio .bloque3,
	.portafolio .bloque4,
	.portafolio .bloque5,
	.portafolio .bloque6,
	.portafolio .bloque7,
	.portafolio .bloque8 {
		float: left;
		height: 300px;
		width: 25%;
	}
	.servicios .servicio {
		border-bottom: none;
		height: 350px;
		padding: 0;
		width: 20%;	
	}
	.servicios .servicio:hover {
		background: #1f2326;
		margin-top: -10px;
	}
	.servicios .servicio h2 {
		padding-top: 20%;
	}
	.servicios .servicio p { 
		width: 80%;
	}
	.slide .texto_slide,
	.slide_desarrolloweb .texto_slide,
	.slide_plan1 .texto_slide,
	.slide_plan2 .texto_slide,
	.slide_plan3 .texto_slide,
	.slide_frontend .texto_slide,
	.slide_portafolio .texto_slide,
	.slide_newsletter .texto_slide,
	.slide_landingpage .texto_slide,
	.slide_landingpage1 .texto_slide,
	.slide_landingpage2 .texto_slide,
	.slide_landingpage3 .texto_slide,
	.slide_landingpage4 .texto_slide,
	.slide_hosting .texto_slide,
	.slide_reseller .texto_slide,
	.slide_cpanel .texto_slide,
	.slide_vps .texto_slide,
	.slide_carro .texto_slide,
	.slide_pago .texto_slide,
	.slide_marketing .texto_slide,
	.slide_seo .texto_slide,
	.slide_sem .texto_slide,
	.slide_socialmedia .texto_slide,
	.slide_analytics .texto_slide,
	.slide_webapp .texto_slide,
	.slide_erp .texto_slide,
	.slide_carrodecompras .texto_slide,
	.slide_elearning .texto_slide,
	.slide_basededatos .texto_slide {
		text-align: center;
		color: white;
		padding-top: 200px;
		width: 90%;
		margin: 0 auto;
	}
	.slide .texto_slide .comencemos,
	.slide_desarrolloweb .texto_slide .comencemos,
	.slide_hosting .texto_slide .comencemos,
	.slide_reseller .texto_slide .comencemos,
	.slide_cpanel .texto_slide .comencemos,
	.slide_vps .texto_slide .comencemos,
	.slide_carro .texto_slide .comencemos,
	.slide_pago .texto_slide .comencemos,
	.slide_marketing .texto_slide .comencemos,
	.slide_seo .texto_slide .comencemos,
	.slide_sem .texto_slide .comencemos,
	.slide_socialmedia .texto_slide .comencemos,
	.slide_analytics .texto_slide .comencemos,
	.slide_webapp .texto_slide .comencemos,
	.slide_erp .texto_slide .comencemos,
	.slide_carrodecompras .texto_slide .comencemos,
	.slide_elearning .texto_slide .comencemos,
	.slide_basededatos .texto_slide .comencemos {
		background: #ff284a;
		border: none;
		color: white;
		display: block;
		margin: 20px auto 0 auto;
		padding: 15px;
		width: 120px;
		text-decoration: none;
		-webkit-transition: all 0.1s ease-in;
	    -moz-transition: all 0.1s ease-in;
	    -ms-transition: all 0.1s ease-in;
	    -o-transition: all 0.1s ease-in;
	    transition: all 0.1s ease-in;
	}
	.slide .texto_slide .comencemos:hover,
	.slide_desarrolloweb .texto_slide .comencemos:hover,
	.slide_hosting .texto_slide .comencemos:hover,
	.slide_reseller .texto_slide .comencemos:hover,
	.slide_cpanel .texto_slide .comencemos:hover,
	.slide_vps .texto_slide .comencemos:hover,
	.slide_carro .texto_slide .comencemos:hover,
	.slide_pago .texto_slide .comencemos:hover,
	.slide_marketing .texto_slide .comencemos:hover,
	.slide_seo .texto_slide .comencemos:hover,
	.slide_sem .texto_slide .comencemos:hover,
	.slide_socialmedia .texto_slide .comencemos:hover,
	.slide_analytics .texto_slide .comencemos:hover,
	.slide_webapp .texto_slide .comencemos:hover,
	.slide_erp .texto_slide .comencemos:hover,
	.slide_carrodecompras .texto_slide .comencemos:hover,
	.slide_elearning .texto_slide .comencemos:hover,
	.slide_basededatos .texto_slide .comencemos:hover {
		background: #1f2326;
		border-bottom: solid 5px #ff284a;
		color: #ff284a;
		transition: all 0.1s ease-in;
	    -moz-transition: all 0.1s ease-in;
	    -ms-transition: all 0.1s ease-in;
	    -o-transition: all 0.1s ease-in;
	    -webkit-transition: all 0.1s ease-in;
	}
	.slide .texto_slide h1,
	.slide_desarrolloweb .texto_slide h1,
	.slide_plan1 .texto_slide h1,
	.slide_plan2 .texto_slide h1,
	.slide_plan3 .texto_slide h1,
	.slide_frontend .texto_slide h1,
	.slide_portafolio .texto_slide h1,
	.slide_newsletter .texto_slide h1,
	.slide_landingpage .texto_slide h1,
	.slide_landingpage1 .texto_slide h1,
	.slide_landingpage2 .texto_slide h1,
	.slide_landingpage3 .texto_slide h1,
	.slide_landingpage4 .texto_slide h1,
	.slide_hosting .texto_slide h1,
	.slide_reseller .texto_slide h1,
	.slide_cpanel .texto_slide h1,
	.slide_vps .texto_slide h1,
	.slide_carro .texto_slide h1,
	.slide_pago .texto_slide h1,
	.slide_marketing .texto_slide h1,
	.slide_seo .texto_slide h1,
	.slide_sem .texto_slide h1,
	.slide_socialmedia .texto_slide h1,
	.slide_analytics .texto_slide h1,
	.slide_webapp .texto_slide h1,
	.slide_erp .texto_slide h1,
	.slide_carrodecompras .texto_slide h1,
	.slide_elearning .texto_slide h1,
	.slide_basededatos .texto_slide h1 {
		font-size: 48px;
	}
	.slide .texto_slide h2,
	.slide_desarrolloweb .texto_slide h2,
	.slide_plan1 .texto_slide h2,
	.slide_plan2 .texto_slide h2,
	.slide_plan3 .texto_slide h2,
	.slide_frontend .texto_slide h2,
	.slide_portafolio .texto_slide h2,
	.slide_newsletter .texto_slide h2,
	.slide_landingpage .texto_slide h2,
	.slide_landingpage1 .texto_slide h2,
	.slide_landingpage2 .texto_slide h2,
	.slide_landingpage3 .texto_slide h2,
	.slide_landingpage4 .texto_slide h2,
	.slide_hosting .texto_slide h2,
	.slide_reseller .texto_slide h2,
	.slide_cpanel .texto_slide h2,
	.slide_vps .texto_slide h2,
	.slide_carro .texto_slide h2,
	.slide_pago .texto_slide h2,
	.slide_marketing .texto_slide h2,
	.slide_seo .texto_slide h2,
	.slide_sem .texto_slide h2,
	.slide_socialmedia .texto_slide h2,
	.slide_analytics .texto_slide h2,
	.slide_webapp .texto_slide h2,
	.slide_erp .texto_slide h2,
	.slide_carrodecompras .texto_slide h2,
	.slide_elearning .texto_slide h2,
	.slide_basededatos .texto_slide h2 {
		font-size: 20px;
		margin: 0;
		font-weight: 400;
	}
	.slide .texto_slide h3,
	.slide_desarrolloweb .texto_slide h3,
	.slide_plan1 .texto_slide h3,
	.slide_plan2 .texto_slide h3,
	.slide_plan3 .texto_slide h3,
	.slide_frontend .texto_slide h3,
	.slide_portafolio .texto_slide h3,
	.slide_newsletter .texto_slide h3,
	.slide_landingpage .texto_slide h3,
	.slide_landingpage1 .texto_slide h3,
	.slide_landingpage2 .texto_slide h3,
	.slide_landingpage3 .texto_slide h3,
	.slide_landingpage4 .texto_slide h3,
	.slide_hosting .texto_slide h3,
	.slide_reseller .texto_slide h3,
	.slide_cpanel .texto_slide h3,
	.slide_vps .texto_slide h3,
	.slide_carro .texto_slide h3,
	.slide_pago .texto_slide h3,
	.slide_marketing .texto_slide h3,
	.slide_seo .texto_slide h3,
	.slide_sem .texto_slide h3,
	.slide_socialmedia .texto_slide h3,
	.slide_analytics .texto_slide h3,
	.slide_webapp .texto_slide h3,
	.slide_erp .texto_slide h3,
	.slide_carrodecompras .texto_slide h3,
	.slide_elearning .texto_slide h3,
	.slide_basededatos .texto_slide h3 {
		font-size: 18px;
		margin: 5px auto 0 auto;
		font-weight: 300;
		width: 85%;
	}
	.slide .texto_slide p,
	.slide_desarrolloweb .texto_slide p,
	.slide_plan1 .texto_slide p,
	.slide_plan2 .texto_slide p,
	.slide_plan3 .texto_slide p,
	.slide_frontend .texto_slide p,
	.slide_portafolio .texto_slide p,
	.slide_newsletter .texto_slide p,
	.slide_landingpage .texto_slide p,
	.slide_landingpage1 .texto_slide p,
	.slide_landingpage2 .texto_slide p,
	.slide_landingpage3 .texto_slide p,
	.slide_landingpage4 .texto_slide p,
	.slide_hosting .texto_slide p,
	.slide_reseller .texto_slide p,
	.slide_cpanel .texto_slide p,
	.slide_vps .texto_slide p,
	.slide_carro .texto_slide p,
	.slide_pago .texto_slide p,
	.slide_marketing .texto_slide p,
	.slide_seo .texto_slide p,
	.slide_sem .texto_slide p,
	.slide_socialmedia .texto_slide p,
	.slide_analytics .texto_slide p,
	.slide_webapp .texto_slide p,
	.slide_erp .texto_slide p,
	.slide_carrodecompras .texto_slide p,
	.slide_elearning .texto_slide p,
	.slide_basededatos .texto_slide p {
		font-weight: 300;
		font-size: 30px;
		margin-top: 50px;
	}
	.slide_plan1 .texto_slide .vernuestrostrabajos,
	.slide_plan2 .texto_slide .vernuestrostrabajos,
	.slide_plan3 .texto_slide .vernuestrostrabajos,
	.slide_frontend .texto_slide .vernuestrostrabajos,
	.slide_portafolio .texto_slide .vernuestrostrabajos,
	.slide_newsletter .texto_slide .vernuestrostrabajos,
	.slide_landingpage .texto_slide .vernuestrostrabajos,
	.slide_landingpage1 .texto_slide .vernuestrostrabajos,
	.slide_landingpage2 .texto_slide .vernuestrostrabajos,
	.slide_landingpage3 .texto_slide .vernuestrostrabajos,
	.slide_landingpage4 .texto_slide .vernuestrostrabajos,
	.slide_reseller .texto_slide .vernuestrostrabajos {
		width: 250px;
	}
	.tuplan .contenido_centro {
		width: 80%;
	}
}

@media only screen and (min-width: 1280px) { 

	#contacto .formulario form {
		width: 70%;
	}
	.crear .web { 
		width: 60%;
	}
	.pagos .contenido_pagos .pago .bancoestado,
	.pagos .contenido_pagos .pago .dineromail,
	.pagos .contenido_pagos .pago .webpay {
		width: 250px;
	}
	.pagos2 .contenido_pagos .pago .bancoestado,
	.pagos2 .contenido_pagos .pago .dineromail,
	.pagos2 .contenido_pagos .pago .webpay {
		width: 250px;
	}
	.planes .plan1 .nombre h3,
	.planes .plan1responsive .nombre h3,
	.planes .plan2 .nombre h3,
	.planes .plan2responsive .nombre h3,
	.planes .plan3 .nombre h3,
	.planes .plan3responsive .nombre h3 {
		font-size: 30px;
	}
	.planes .plan1 .nombre .valor,
	.planes .plan1responsive .nombre .valor,
	.planes .plan2 .nombre .valor,
	.planes .plan2responsive .nombre .valor,
	.planes .plan3 .nombre .valor,
	.planes .plan3responsive .nombre .valor  {
		font-size: 30px;
	}
	.portafolio {
		line-height: 500px;
	}
	.portafolio .bloque1,
	.portafolio .bloque2,
	.portafolio .bloque3,
	.portafolio .bloque4,
	.portafolio .bloque5,
	.portafolio .bloque6,
	.portafolio .bloque7,
	.portafolio .bloque8 {
		height: 400px;
		width: 25%;
	}
	.servicios .servicio h2 {
		font-size: 25px;
	}
} 
